@font-face {
    font-family: 'rubiks_cuberegular';
    src: url('../assents/fonts/rubiks_cube-webfont.woff2') format('woff2'),
         url('../assents/fonts/rubiks_cube-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}