@import 'var';
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
@viewport{
    width: device-width;
    zoom: 1;

}
html{
    background: $backgroundPrincipal;
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}
body{
    padding: 1em 5%;
}

