.block__review{
    .review__heading{
        display: flex;
        justify-content: center;
     
            .title-container {
                display: flex;      //repetido
                justify-content: center;  //repetido
                    h2{
                        font-family: 'Rubik', serif;
                        font-size: 1.5em;
                        font-weight: 500;
                        color: $fontColor02;
                    }
            }
    }
    .review__usuarios{
       margin-top: 2em;
       .container-review{
            
            max-width: 100%;
            // display: flex;
            // flex-wrap: wrap;

            .logos-empresas{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 20px;
                margin-right: 0;
                margin-left: 0;
                justify-content: center;
                align-items: center;
                img{

                    width: 100px;
                    margin: 0 18px;
                    padding-right: 0;
                }
              
            }
           
          
        }
       
    }
    .review__comentarios{
        width: 100%;
        margin-top: 2em;
       img{
            width: 100%;
       }
    }
}


