// @import 'reset';

.block__apresentation{
    padding: 10px 20px;
     .container{
         display: flex;
         align-content: center;
         flex-wrap: nowrap;   

        

                 .container__block{
                     max-width: 54em;
                     flex-wrap: nowrap;
                     height: fit-content;
                    .block__title{

                     color: $fontColor02;
                     font-size: 4em; 
                     margin: 2em 0 1em;
                     font-family: 'Rubik', sans-serif;
                     }
                     .block__paragrafo{
                         font-size: 1.8em; 
                     }
                     .block__btnDemo{
                     background-color: #ff6854;
                     width: 100%;
                     border-radius: .5em;
                     width: fit-content;
                        .block__paragrafo-2{
                            color: #fff;
                            font-size: 2em;
                            align-items:center ;
                            padding: .5em;
                            margin: 2em;
                        }
                    
                     }
                     .tour{
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        padding: .5em;
                        cursor: pointer;
                        border: .2em solid rgba(0,0,0, .5);
                        border-radius:.5em;

                            .icon i{
                            font-size: 4em;
                            // color: #54e5ee;
                            // margin-right: .5em;
                        }
                            .paragrafo-3{
                                max-width: 55%;
                                font-size: 1.5em;
                                align-items:center ;
                                margin: 0;
                            }
                   
                       
                     }
                    
                 }
                 .container-image{

                     max-width: 54em;
                     height: fit-content;
                     vertical-align: middle;
                     display: inline-block;

                     img{
                        max-width: 100%;
                     }
                 }

 
 
    }
 }
 .text{
    display: flex;
    justify-content: center;
 }